In [1]:
# import libraries
import requests
import json
import pandas as pd

In [5]:
# do a test requests for the "/" route
test_res = requests.get("http://127.0.0.1:5000/")
test_res

In [7]:
# get the text from the Response object
test_res.text

'Hello world!'

In [9]:
# do a test requests for the "/" route
test_res = requests.get("http://127.0.0.1:5000/predict")
test_res

In [10]:
test_res.text

'The API works haha'

In [20]:
body = [
    {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0},
        {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0},
        {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0},
        {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0}
]

In [21]:
json.dumps(body)

'[{"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}, {"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}, {"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}, {"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}]'

In [22]:
pd.read_json(json.dumps(body))

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest
0,0,1,1,20,1,1,48
1,0,1,1,20,1,1,48
2,0,1,1,20,1,1,48
3,0,1,1,20,1,1,48

In [23]:
test_res = requests.get("http://127.0.0.1:5000/predict",
                        json=json.dumps(body))
test_res

In [28]:
test_res.json()

{'prediction': [53.31369444444445,
  53.31369444444445,
  53.31369444444445,
  53.31369444444445]}

In [30]:
test_df = pd.read_json(json.dumps(body))

test_df

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest
0,0,1,1,20,1,1,48
1,0,1,1,20,1,1,48
2,0,1,1,20,1,1,48
3,0,1,1,20,1,1,48

In [40]:
test_res = requests.get("https://uplevelmasterclassflaskjackie.herokuapp.com/predict",
                        json=json.dumps(body))
test_res

In [34]:
predictions = test_res.json()['prediction']

In [35]:
test_df['prediction'] = predictions
test_df

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest,prediction
0,0,1,1,20,1,1,48,53.313694
1,0,1,1,20,1,1,48,53.313694
2,0,1,1,20,1,1,48,53.313694
3,0,1,1,20,1,1,48,53.313694

In [41]:
test_res.json()

{'prediction': [53.31369444444445,
  53.31369444444445,
  53.31369444444445,
  53.31369444444445]}