In [1]:
import requests
import json
import pandas as pd

In [2]:
test_res = requests.get('http://127.0.0.1:5000')
test_res

In [3]:
test_res.text

'Hello world!'

In [5]:
test_res = requests.get('http://127.0.0.1:5000/predict')
test_res

In [6]:
test_res.text

'The API works'

Set the payload to be sent to the microserver

In [30]:
body = [
    {"school_setting" : 0,
     "school_type" :1,
     "teaching_method":1,
     "n_student":20,
     "gender": 1,
     "lunch":1,
     "pretest":48.0
    } ,
        {"school_setting" : 1,
     "school_type" :1,
     "teaching_method":1,
     "n_student":20,
     "gender": 1,
     "lunch":1,
     "pretest":48.0
    } ,
        {"school_setting" : 0,
     "school_type" :2,
     "teaching_method":1,
     "n_student":20,
     "gender": 1,
     "lunch":1,
     "pretest":48.0
    } 
]

In [31]:
# convert to string representation
json.dumps(body)

'[{"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}, {"school_setting": 1, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}, {"school_setting": 0, "school_type": 2, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}]'

In [32]:
# convert string json into dataframe
pd.read_json(json.dumps(body))

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest
0,0,1,1,20,1,1,48
1,1,1,1,20,1,1,48
2,0,2,1,20,1,1,48

In [38]:
test_res = requests.get("http://127.0.0.1:5000/predict",
                       json = json.dumps(body))
test_res

In [39]:
test_res.json()

{'prediction': [53.31369444444445, 56.38879761904761, 53.31369444444445]}

In [43]:
test_df = pd.read_json(json.dumps(body))
test_df['prediction'] = test_res.json()['prediction']

In [44]:
test_df

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest,prediction
0,0,1,1,20,1,1,48,53.313694
1,1,1,1,20,1,1,48,56.388798
2,0,2,1,20,1,1,48,53.313694